.pantalla{
    justify-content:space-around;
    background-repeat:no-repeat;
    background-size:cover ;
  }
  body{
      
      justify-content:space-around;
      background-repeat:no-repeat;
      background-size:cover ;
    
    }
