<div class="center-div">
    <div class="table-title">
            <h2>Gestión de Categorías</h2>          
    </div>
    <div class="col-xs-6">
        <a routerLink="/categorias/añadirCategoria" class="btn btn-success"><span class="material-symbols-outlined">add</span></a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of listado">
                <th [width]="100">{{c.id_categoria}}</th>
                <td [width]="200">{{c.cat_nombre}}</td>
                <td [width]="600">{{c.cat_descripcion}}</td>
                <td>
                    <a routerLink="/categorias/eliminarCategoria/+{{c.id_categoria}}" class="delete button"><span class="material-symbols-outlined">
                        delete
                        </span></a>
                    <a routerLink="/categorias/editarCategoria/+{{c.id_categoria}}" class="edit button"><span class="material-symbols-outlined">
                        edit
                        </span></a>
                </td>
            </tr>							
        </tbody>
    </table>
</div>