.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 label {
    font-size: larger;
    font-family:'Helvetica';
    text-transform: uppercase;
    color: darkkhaki;
    padding-bottom: 15px;
    padding-top: 20px;
  }
.form-control {
    width: 99%;
}
h2{
    text-transform: uppercase;
    font-family:'Helvetica';
    font-size: 30px;
    color: darkkhaki;
    margin-top: 40%;
}
button{
    display: inline-block;
    margin-top: 20px;
    background-color: darkkhaki;
    color: white;
    border-color: white;
    border-width: 1px;
    font-family:'Helvetica';
    font-size: 13px;
    padding: 5px 10px;
}
button:hover{
    background-color:  #3e492a;
}